/*
	Файл с шаблонами писем 
*/

// Письмо с уведомлением о автоматической сборки таргета
<!-- START BLOCK : build_result_subject --> /// Заголовок письма
	[CI Tool] {target_name} was built on {host_name} for {project_name}
<!-- END BLOCK : build_result_subject -->

<!-- START BLOCK : build_result --> /// Тело письма
<pre>
    {project_name}
    {target_name}
    {session_name}
    {server}
    {commit}
    {status}
    {base_commit}
    {path_to_checkout_log}
    {path_to_build_log}
    {path_to_test_log}
    <!-- START BLOCK : build_result -->
        {link}
    <!-- END BLOCK : build_result -->
</pre>
<!-- END BLOCK : build_result -->
