/*
	Файл с шаблонами писем 
*/

// Письмо с уведомлением о автоматической сборки таргета
<!-- START BLOCK : build_result_subject --> /// Subject
	[CI Tool][{project_name}][{target_name}] - {status}
<!-- END BLOCK : build_result_subject -->

<!-- START BLOCK : build_result --> /// body
    <table>
        <tr>
            <td>Status of Build: </td>
            <td>
                <!-- START BLOCK : succesfull_build -->
                    <font color="green">{status}</font>
                <!-- END BLOCK : succesfull_build -->
                <!-- START BLOCK : fail_build -->
                    <font color="red">{status}</font>
                <!-- END BLOCK : fail_build -->
            </td>
        </tr>
        <tr>
            <td>Project Name: </td>
            <td>{project_name}</td>
        </tr>
        <tr>
            <td>Target Name: </td>
            <td>{target_name}</td>
        </tr>
        <tr>
                <td>Session Name: </td>
                <td>
                    <a href="{session_url}">
                        {session_date}
                    </a>
                </td>
        </tr>
        <tr>
                <td>Triggered Commit: </td>
                <td>
                    <a href="http://git.promwad.com/gitweb?p={repo_name};a=commitdiff;h={commit};hp={prev_commit};ds=sidebyside">
                        {commit}<br>
                        {session_description}
                    </a>
                </td>
        </tr>
        <tr>
                <td>Build Log: </td>
                <td>{url_to_build_log}</td>
        </tr>
        <tr>
            <td>Results: </td>
            <td>
                <!-- START BLOCK : result -->
                    <a href="{result_url}">
                            {result_url}
                    </a>
                    <br>
                <!-- END BLOCK : result -->
             </td>
        </tr>
        <tr>
            <td>Git log:</td>
            <td>{git_log}</td>
        </tr>
    </table>
<!-- END BLOCK : build_result -->
