/*
	Файл с шаблонами писем 
*/

// Письмо с уведомлением о автоматической сборки таргета
<!-- START BLOCK : build_result_subject --> /// Заголовок письма
	[CI Tool] {target_name} was built on {server} for {project_name}
<!-- END BLOCK : build_result_subject -->

<!-- START BLOCK : build_result --> /// Тело письма
	<table>
		<tr>
			<td>Project Name: </td>
			<td>{project_name}</td>
		</tr>
		<tr>
			<td>Target Name: </td>
			<td>{target_name}</td>
		</tr>
        <tr>
                <td>Session Name: </td>
                <td>{session_name}</td>
        </tr>
        <tr>
                <td>Server Name: </td>
                <td>{server_hostname}</td>
        </tr>
        <tr>
                <td>Triggered Commit: </td>
                <td>
                    <a href="http://git.promwad.com/gitweb/?p={repo_name};a=commit;h={commit}">
                        http://git.promwad.com/gitweb/?p={repo_name};a=commit;h={commit}
                    </a>
                </td>
        </tr>
        <tr>
                <td>Status of Build: </td>
                <td>{status}</td>
        </tr>
        <tr>
                <td>Build Log: </td>
                <td>{url_to_build_log}</td>
        </tr>
        <tr>
                <td>Build Folder: </td>
                <td>
                    {session_url}<br>
                    scp://ci-tool@{server_addr}/{session_dir}
                </td>
        </tr>
        <tr>
            <td>Results: </td>
            <td>
                <!-- START BLOCK : result -->
                    <a href="{result_url}">
                            {result_url}
                    </a>
                    <br>
                <!-- END BLOCK : result -->
             </td>
        </tr>
    </table>                
<!-- END BLOCK : build_result -->
