<table border=1>
    <tr>
        <td>Status of Build: </td>
        <td>
            <!-- START BLOCK : succesfull_build -->
                <font color="green"><b>{status}</b></font>
            <!-- END BLOCK : succesfull_build -->
            <!-- START BLOCK : fail_build -->
                <font color="red"><b>{status}</b></font>
            <!-- END BLOCK : fail_build -->
        </td>
    </tr>
    <tr>
        <td>Project Name: </td>
        <td><a href="{project_url}">{project_name}</a></td>
    </tr>
    <tr>
        <td>Target Name: </td>
        <td><a href="{target_url}">{target_name}</a></td>
    </tr>
    <tr>
        <td>Session Name: </td>
        <td><a href="{session_url}">{session_name}</a></td>
    </tr>
    <tr>
        <td>Repository Name: </td>
        <td>{repo_name}</td>
    </tr>
    <tr>
        <td>Build duration: </td>
        <td>{build_duration}</td>
    </tr>
    <tr>
        <td>Checkout duration: </td>
        <td>{checkout_duration}</td>
    </tr>
    <tr>
        <td>Build session dir: </td>
        <td>
            <a href="{session_url}">
                {session_date}
            </a>
        </td>
    </tr>
    <tr>
        <td>Previous successful build: </td>
        <td>
            <a href="{prev_session_url}">
                {prev_session_date}
            </a>
        </td>
    </tr>
    <tr>
        <td>Build Log: </td>
        <td><a href="{build_log_url}">{build_log_dir}</a></td>
    </tr>
    <tr>
        <td>Results: </td>
        <td>
            <!-- START BLOCK : result -->
                <a href="{result_url}">
                    {result_name}
                </a>
                <br>
            <!-- END BLOCK : result -->
            <!-- START BLOCK : not_result -->
               No results
            <!-- END BLOCK : not_result -->
        </td>
    </tr>
    <tr>
        <td>Git log:</td>
        <td>
            <!-- START BLOCK : git_log_content -->
                <a href="http://git.promwad.com/gitweb?p={repo_name};a=commitdiff;h={commit};hp={prev_commit};ds=sidebyside">
                    {git_log_wrapped}
                </a>
            <!-- END BLOCK : git_log_content -->
            <!-- START BLOCK : no_git_log_content -->
                Not available
            <!-- END BLOCK : no_git_log_content -->
        </td>
    </tr>
</table>